{% extends "website/base.html" %}

{% block content %}
    <section class="flush-with-above">
        <div class="container mb-4">
            <h1 class="h2">{{ team.teamname }}</h1>
        </div>

        <ul class="row mb-3 feature-list feature-list-sm">

            {% for nfc_point in photo_points %}
                <li class="col-6 col-md-4 col-lg-3">
                    <div class="card card-lg">
                        <a href="blog-grid.html#">
                            <img class="card-img-top" src="{{ nfc_point.image_url }}" alt="Фото кп">
                        </a>
                        <div class="card-body">
                            <a href="blog-grid.html#">
                                <h4 class="card-title mb-3">{{ nfc_point.point_number }}
                                    / {{ nfc_point.team.start_number }}</h4>
                            </a>
                            <p class="card-text">{{ nfc_point.team.teamname }}</p>
                            <form action="/delete_photo/{{ nfc_point.id }}" method="POST" class="text-left col-lg-8">

                                <button type="button" class="btn btn-danger">Удалить</button>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="card">
            <div class="card-body">
                <h6 class="title-decorative">Новые точки</h6>
                <form action="/newpoint/{{ team.id }}/" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Набор КП</label>
                        <input type="text" name="points" class="form-control" aria-describedby="emailHelp"
                               placeholder="Набор КП"/>
                        <small id="emailHelp" class="form-text text-muted">Набор точек через запятую</small>
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-lg btn-primary">Отправить</button>
                </form>
            </div>
        </div>
        <!--end of row-->
    </section>


{% endblock %}