{% extends "website/base.html" %}

{% load custom_filters %}

{% block content %}
    <section class="flush-with-above">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <h1>Payment List</h1>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td>order</td>
                            <td>Team</td>
                            <td>Team ppl</td>
                            <th>Payment Method</th>
                            <th>Sender Card Number</th>
                            <th>Payment Date</th>
                            <th>Confirm</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payment in payments %}
                            <tr>
                                <td id="order{{ payment.order }}">
                                    <form id="upForm" action="/payments/{{ payment.id }}/up" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-link p-0"><i class="icon-arrow-up"></i>
                                        </button>
                                    </form>
                                    {{ payment.order }}
                                    <form id="downForm" action="/payments/{{ payment.id }}/down" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-link p-0"><i class="icon-arrow-down"></i>
                                        </button>
                                    </form>
                                </td>
                                <td><a href="/team/{{ payment.team.paymentid }}">{{ payment.team.teamname }}</a>
                                    <br/>{{ payment.team.owner.last_name }} {{ payment.team.owner.first_name }}
                                </td>
                                <td>{{ payment.team.paid_people|floatformat }}/{{ payment.team.ucount }}<br/>
                                    {{ payment.team.paid_sum|floatformat }}</td>
                                <td>{{ payment.payment_method }}<br/>
                                    {{ payment.status }}
                                </td>
                                <td>{{ payment.sender_card_number }}
                                    <br/>{{ payment.payment_amount|floatformat }} RUB
                                    ({{ payment.paid_for|floatformat }} чел)
                                </td>
                                <td>{{ payment.payment_date }}</td>
                                <td {% if payment.balance == estimate_balances|dict_key:payment.pk %}class="bg-success" {% endif %}>
                                    {% if payment.status == "draft" or payment.status == "draft_with_info" %}
                                        {% if payment.payment_method == "sbp" or payment.payment_method == "sberbank" %}
                                            <div class="mb-2">
                                                <form method="post" action="/payments/confirm/{{ payment.id }}">
                                                    {% csrf_token %}
                                                    <label>
                                                        <input class="form-control-sm" type="text" placeholder="Баланс"
                                                               name="balance"/>
                                                    </label>
                                                    <button type="submit" class="btn btn-success">Confirm</button>
                                                </form>
                                            </div>
                                            <form method="post" action="/payments/cancel/{{ payment.id }}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-warning">Cancel</button>
                                            </form>
                                        {% endif %}
                                    {% else %}
                                        Баланс: {{ payment.balance|floatformat }}
                                        <br/>Ожидаемый: {{ estimate_balances|dict_key:payment.pk|floatformat }}
                                        {% if payment.balance == 0 and payment.status == "done" %}
                                            {% if payment.payment_method == "sbp" or payment.payment_method == "sberbank" %}
                                                <form method="post" action="/payments/confirm/{{ payment.id }}">
                                                    {% csrf_token %}
                                                    <label>
                                                        <input class="form-control-sm" type="text" placeholder="Баланс"
                                                               name="balance"/>
                                                    </label>
                                                    <button type="submit" class="btn btn-info">Confirm</button>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {#        payment_amount summ #}
                    <p>Payment Amount Summ: {{ payments_summ }}</p>
                </div>
                <div class="col-md-2">
                    <h1>Filters</h1>
                    <!-- Add your filter inputs and controls here -->
                    <!-- Example: -->
                    <form method="get" action="{% url 'payment-list' %}">
                        <div class="form-group">
                            <label for="status">Status:</label>
                            <select class="form-control" id="status" name="status">
                                <option value="">All</option>
                                <option value="draft" {% if status == "draft" %} selected {% endif %}>Draft</option>
                                <option value="draft_with_info" {% if status == "draft_with_info" %}
                                        selected {% endif %}>Draft_with_info
                                </option>
                                <option value="done" {% if status == "done" %} selected {% endif %}>Done</option>
                                <option value="cancel" {% if status == "cancel" %} selected {% endif %}>Canceled
                                </option>
                            </select>

                            <label for="method">Method:</label>
                            <select class="form-control" id="method" name="method">
                                <option value="">All</option>

                                <option value="sberbank" {% if method == "sberbank" %} selected {% endif %}>Сбербанк
                                </option>
                                <option value="sbp" {% if method == "sbp" %} selected {% endif %}>СБП</option>
                                <option value="visamc" {% if method == "visamc" %} selected {% endif %}>Card</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Apply Filters</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
