{% extends "website/base.html" %}

{% block content %}
    <section class="flush-with-above">
        <div class="container mb-4">
            <h1 class="h2">Команды {{ race.name }}</h1>
        </div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-3 mb-5">

                    <div class="card card-sm">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item d-flex justify-content-between"
                               href="/race/{{ race.id }}/teams#teamlist">
                                <div>
                                    <span>Все</span>
                                </div>
                                <div>
                                    <span class="badge badge-secondary ml-2">{{ race.team_count }}</span>
                                    <i class="icon-chevron-right"></i>
                                </div>
                            </a>
                            <!-- Categories link-->
                            {% for category in categories %}
                                <a class="list-group-item d-flex justify-content-between"
                                   href="/race/{{ race.id }}/category/{{ category.id }}/teams#teamlist">
                                    <div>
                                        <i class="icon-dot-single mr-1"></i>
                                        <span>{{ category.short_name }}</span>
                                    </div>
                                    <div>
                                        {% if category.team_count %}
                                            <span class="badge badge-secondary ml-2">{{ category.team_count }}</span>
                                        {% endif %}
                                        <i class="icon-chevron-right"></i>
                                    </div>
                                </a>
                            {% endfor %}
                            <!-- end of categories -->
                        </div>
                    </div>

                    {#                    <div class="card">#}
                    {#                        <ul class="list-group list-group-flush">#}
                    {#                            <li class="list-group-item">#}
                    {#                                <div class="d-flex justify-content-between">#}
                    {#                                    <div><i class="icon-magnifying-glass mr-1"></i> В поиске команды</div>#}
                    {#                                    <div>#}
                    {#                                        <span class="badge badge-secondary ml-2">9</span>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </div>#}

                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div><i class="icon-text-document mr-1"></i> Дата</div>
                                    <span>{{ race.date }}</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div><i class="icon-users mr-1"></i> Участников</div>
                                    <span>{{ race.people_count|floatformat }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end of col-->

                <div class="col-12 col-md-12 col-lg-9" id="teamlist">
                    {% if category %}
                        <div class="col mb-2">
                            <h3 class="mb-2">{{ category.name }}</h3>
                            <span>{{ category.description }}</span>
                        </div>
                    {% endif %}
                    {% if teams %}
                        <div class="col mb-2">
                            <table class="table align-items-center table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Название</th>
                                    {% if show_category %}<th scope="col">Категория</th>{% endif %}
                                    <th scope="col">Город</th>
                                    <th scope="col">Участники</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for team in teams %}
                                    <tr class="text-small">
                                        <td>{{ team.start_number }}</td>
                                        <td>{{ team.teamname }} {% if not team.teamname %}Без названия {{ team.id }} ({{ team.owner.last_name }} {{ team.owner.first_name }}) {% endif %}
                                            {% if user.is_superuser %}
                                                (<a href="/admin/website/team/{{ team.id }}/change/">id{{ team.id }}</a>)
                                                <a href="/team/{{ team.paymentid }}"><i class="icon-pencil ml-1"></i></a>
                                            {% endif %}
                                            <br/>
                                            {{ team.count }} точек, сумма {{ team.summ }}
                                        </td>
                                        {% if show_category %}<td>{{ team.category2.short_name }}</td>{% endif %}
                                        <td>{{ team.city|default:"-" }}</td>
                                        <td class="text-wrap">
                                            {{ team.athlet1 }}{% if team.athlet2 %},{% endif %}
                                            {{ team.athlet2 }}{% if team.athlet3 %},{% endif %}
                                            {{ team.athlet3 }}{% if team.athlet4 %},{% endif %}
                                            {{ team.athlet4 }}{% if team.athlet5 %},{% endif %}
                                            {{ team.athlet5 }}{% if team.athlet6 %},{% endif %}
                                            {{ team.athlet6 }}
                                        </td>
                                        <td>
                                            {% if team.paid_people != team.ucount %}
                                            ({{ team.paid_people|floatformat }}/{{ team.ucount }})
                                            {% else %}
                                            {{ team.paid_people |floatformat }}
                                            {% endif %}
                                            <!-- Button trigger modal -->
                                            {#                                    <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"#}
                                            {#                                            data-target="#exampleModalCenter">#}
                                            {#                                        Подать заявку#}
                                            {#                                    </button>#}
                                            <!-- Modal
                                            <div class="dropdown d-inline-block">
                                                <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                                        type="button" id="dropdownMenuButton-1" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-three-horizontal"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-sm"
                                                     aria-labelledby="dropdownMenuButton"
                                                     x-placement="top-start"
                                                     style="position: absolute; transform: translate3d(1202px, 412px, 0px); top: 0px; left: 0px;">
                                                    <a class="dropdown-item"
                                                       href="app-collection-table-alternative.html#">Download</a>
                                                    <a class="dropdown-item"
                                                       href="app-collection-table-alternative.html#">Share</a>
                                                    <a class="dropdown-item"
                                                       href="app-collection-table-alternative.html#">Comment</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item"
                                                       href="app-collection-table-alternative.html#">Delete</a>
                                                </div>
                                            </div>
                                            -->
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="col mb-2">
                            <h4 class="mb-2">Команды не найдены</h4>
                        </div>
                    {% endif %}
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>



{% endblock %}