{% extends "website/base.html" %}

{% block content %}
    <section class="flush-with-above">
        <div class="container mb-4">
            <h1 class="h2">{{ team.teamname }}</h1>
        </div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md-12 col-lg-12" id="points">
                </div>
                <div class="row">
                    <h3>{% for nfc_point in nfc_points %}
                        {{ nfc_point.point_number }}
                    {% endfor %}
                    </h3>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
    </section>


{% endblock %}