{% extends "website/base.html" %}

{% block content %}
    <section class="space-sm">
        <div class="container">
            <div class="row flex-md-row card card-lg">
                <div class="col-12 col-md-7 card-body bg-secondary">
                    <div class="text-center mb-3">
                        <h1 class="h2 mb-2">{{ team.teamname|default:"Добавление новой команды" }}</h1>
                        <span>Данные команды</span>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10">
                            <form id="teamform" action="{{ action }}" method="POST">
                                <div class="form-row form-group">
                                    <div class="col">
                                        {{ team_form.teamname }}
                                        {% if team_form.teamname.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.teamname.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        {{ team_form.city }}
                                        {% if team_form.city.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.city.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        {{ team_form.organization }}
                                        {% if team_form.organization.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.organization.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col-7">
                                        {{ team_form.category2_id.label_tag }}
                                        {{ team_form.category2_id }}
                                        {% if team_form.category2_id.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.category2_id.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-5">
                                        {{ team_form.ucount.label_tag }}
                                        {{ team_form.ucount }}
                                        {% if team_form.ucount.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.ucount.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <p>Участники:</p>

                                <div class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet1 }}
                                        {% if team_form.athlet1.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet1.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth1 }}
                                        {% if team_form.birth1.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth1.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet2 }}
                                        {% if team_form.athlet2.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet2.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth2 }}
                                        {% if team_form.birth2.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth2.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div id="member3" class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet3 }}
                                        {% if team_form.athlet3.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet3.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth3 }}
                                        {% if team_form.birth3.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth3.errors }}
                                            </div>

                                        {% endif %}
                                    </div>
                                </div>

                                <div id="member4" class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet4 }}
                                        {% if team_form.athlet4.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet4.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth4 }}
                                        {% if team_form.birth4.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth4.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div id="member5" class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet5 }}
                                        {% if team_form.athlet5.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet5.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth5 }}
                                        {% if team_form.birth5.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth5.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div id="member6" class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet6 }}
                                        {% if team_form.athlet6.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet6.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth6 }}
                                        {% if team_form.birth6.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth6.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="map_count" class="form-row form-group">
                                    <div class="col-6">
                                        {{ team_form.map_count.label_tag }}
                                        {{ team_form.map_count }}
                                        {% if team_form.map_count.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.map_count.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <small>На команду выдаются 2 карты. Если вы хотите купить дополнительные карты,
                                            отметьте количество (Цена карты - 200 руб)
                                        </small>
                                    </div>
                                </div>
                                <div class="mb-3 form-check">
                                  <input class="form-check-input" type="checkbox" id="consent" name="consent" required {% if team.id %}disabled checked{% endif %}>
                                  <label class="form-check-label" for="consent">
                                    Я подтверждаю, что ознакомлен(а) с
                                    <a href="/page/personal_data_consent/" target="_blank" rel="noopener">
                                      Согласием на обработку персональных данных
                                    </a>
                                    и даю согласие на обработку моих персональных данных в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных».
                                  </label>
                                </div>
                                {% csrf_token %}
                                {% if team_form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ team_form.non_field_errors }}
                                    </div>
                                {% endif %}
                                <div id="team_form_alert" class="alert alert-success" role="alert"
                                     style="display: none;">
                                    Text
                                </div>
                                <div class="mb-2" id="reg_close_warning" style="display: none">
                                    <p>Добавление новых участников невозможно из-за отсутствия слотов.</p>
                                </div>
                                {% if race.reg_status == 'open' or team.category2.race.is_teams_editable or user.is_superuser %}
                                    <div class="form-row form-group">
                                        <div class="col">
                                            <button class="btn btn-block btn-success" type="submit"
                                                    id="teamform_submit">
                                                Сохранить
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <!--end of col-->
                <div class="col-12 col-md-5 card-body">
                    <div>
                        <div class="mb-3 text-center">
                            <h3 class="h2 mb-2">Стартовый взнос за участника</h3>
                        </div>
                        <ul class="list-unstyled list-spacing-sm mb-3 ">
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3">2000 руб</div>
                                <div class="col-9">С 15 по 17 сентября</div>
                            </li>
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3">2500 руб</div>
                                <div class="col-9">С 18 по 30 сентября</div>
                            </li>
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3">3000 руб</div>
                                <div class="col-9">С 1 по 9 октября</div>
                            </li>
                        </ul>
                        <ul class="list-unstyled list-spacing-sm mb-5 ">
                            <li class="row">
                                <div class="col-2 col-md-1"><i class="icon-minus h5 text-muted"></i>
                                </div>
                                <div class="col-10">При достижении лимита участников, регистрация может прекратиться
                                    раньше
                                </div>
                            </li>
                            <li class="row align-items-center">
                                <div class="col-2 col-md-1"><i class="icon-minus h5 text-muted"></i>
                                </div>
                                <div class="col-10">Возврат взносов за вычетом понесенных расходов возможен до 1
                                    октября
                                </div>
                            </li>
                        </ul>
                        <hr class="short">
                        {% if team.paid_people %}
                            <div class="row justify-content-between">
                                <div class="col-12"><p>Оплачено за {{ team.paid_people | floatformat:"0" }} чел.</p></div>
                            </div>
                        {% endif %}
                        {% if member_moves %}
                            <hr class="short">
                            <h4 class="h4 mb-2">Переносы участников</h4>
                            {% for move in member_moves %}
                                <div class="row justify-content-between">
                                    <div class="col-8">
                                        <p class="mb-0">{{ move.from_team.teamname }} <i class="icon-arrow-right text-muted"></i>  {{ move.to_team.teamname }}</p>
                                        <p class="mb-0"><small>(id{{ move.from_team_id }} > id{{ move.to_team_id }})</small></p>
                                    </div>
                                    <div class="col-4">
                                        <p class="text-right mb-0">{{ move.moved_people | floatformat    }} чел</p>
                                        <p class="text-right mb-0"><small> {{ move.move_date | date:"j.m.Y" }}</small></p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if payments %}
                            <hr class="short">
                            <h4 class="h4 mb-2">История оплат</h4>
                            {% for payment in payments %}
                                {% if payment.payment_amount %}
                                    <div class="row justify-content-between">
                                        <div class="col-6"><p>Платеж за {{ payment.paid_for | floatformat:"0" }}
                                            чел.</p>
                                        </div>
                                        <div class="col-6">
                                            <p class="text-right mb-0"><span>{{ payment.payment_amount }}</span> руб</p>
                                            <p class="text-right"><small>{{ payment.created_at | date:"j.m.Y" }}</small>
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if payment.additional_charge %}
                                    <div class="row justify-content-between">
                                        <div class="col-6"><p>Доплата </p></div>
                                        <div class="col-6">
                                            <p class="text-right mb-0">{{ payment.additional_charge }} руб</p>
                                            <p class="text-right"><small>{{ payment.created_at | date:"j.m.Y" }}</small>
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <div id="sidecolumn_paid">
                            <div class="row mb-4 justify-content-between">
                                <div class="col-6"><p><span id="paidfor_action">К оплате</span> <span
                                        id="ucountlabel_all">за <span id="ucountlabel">1</span> чел.</span></p></div>
                                <div class="col-6"><p class="text-right"><span id="sumlabel">1500</span> руб</p></div>
                            </div>
                            {% if race.reg_status == "open" %}
                                <div class="mb-2 text-center ">
                                    <h4 class="h4 mb-2">Оплата</h4>
                                    <div class="row justify-content-center">
                                        <div class="col-6">
                                                <img alt="sbp" class="card-img-top"
                                                     src="/static/images/payments/sbp.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-control custom-checkbox-switch">
                                    <button type="button" class="btn btn-primary float-right mt-3" id="common_paid">
                                        Оплатить
                                    </button>
                                    <script>
                                        // Attach click event to the button to submit the form
                                        document.getElementById('common_paid').addEventListener('click', function () {
                                            // Submit the team_form
                                            document.getElementById('teamform').submit();
                                        });
                                    </script>
                                </div>
                            {% elif race.reg_status == "sold_out" %}
                                <div class="mb-2">
                                    <h4 class="h4 mb-2">Регистрация закрыта</h4>
                                    <p>Добавление новых участников невозможно из-за отсутствия слотов.</p>
                                </div>
                            {% elif race.reg_status == "sold_out" %}
                                <div class="mb-2">
                                    <h4 class="h4 mb-2">Регистрация еще не началась</h4>
                                    <p>Добавление новых участников невозможно до начала регистрации.</p>
                                </div>
                            {% endif %}
                        </div>
                        {% if team_move_form and team and team.paid_people and user.is_superuser %}
                            <hr class="short">
                            <h5 class="h5 mb-2">Перенести участника</h5>
                            <form method="post" action="{% url 'move_team_member' team.id %}">
                                {% csrf_token %}
                                {{ team_move_form.non_field_errors }}
                                <div class="form-group">
                                    {{ team_move_form.to_team.label_tag }}
                                    {{ team_move_form.to_team }}
                                    {% if team_move_form.to_team.errors %}
                                        <div class="invalid-feedback">
                                            {{ team_move_form.to_team.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ team_move_form.moved_people.label_tag }}
                                    {{ team_move_form.moved_people }}
                                    {% if team_move_form.moved_people.errors %}
                                        <div class="invalid-feedback">
                                            {{ team_move_form.moved_people.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                                <button type="submit" class="btn btn-primary">Перенести</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
{% endblock %}

{% block footer_js_include %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Cache the DOM elements
            const categorySelect = document.getElementById('id_category2_id');
            const ucountSelect = document.getElementById('id_ucount');
            const mapCountSelect = document.getElementById('id_map_count');
            const mapCountField = document.getElementById('map_count');
            const ucountlabel = document.getElementById('ucountlabel');
            const sumlabel = document.getElementById('sumlabel');
            const paid_block = document.getElementById('sidecolumn_paid');
            const reg_close_warning = document.getElementById('reg_close_warning');

            const ucount_paid = {{ team.paid_people |default:0| floatformat }};
            const map_count_paid = {{ team.map_count_paid |default:0| floatformat }};

            // All athlete/birth field wrappers by id
            const memberFields = {
                3: document.getElementById('member3'),
                4: document.getElementById('member4'),
                5: document.getElementById('member5'),
                6: document.getElementById('member6')
            };

            // Function to update the number of visible athlete fields based on ucount value
            function updateAthleteFields() {
                const ucount = parseInt(ucountSelect.value); // Get selected ucount
                let mapCount = parseInt(mapCountSelect.value) || 0;
                // Loop through all athlete/birth fields and hide/show based on ucount
                for (let i = 3; i <= 6; i++) {
                    if (i <= ucount) {
                        memberFields[i].style.display = 'flex'; // Show the field
                    } else {
                        memberFields[i].style.display = 'none'; // Hide the field
                    }
                }

                mapCountSelect.innerHTML = '';
                mapCount = Math.min(mapCount, ucount - 2);
                for (let i = 0; i <= ucount - 2; i++) {
                    const option = document.createElement('option');
                    option.value = i.toString();
                    option.textContent = i === 0 ? "Нет" : i.toString();
                    option.selected = i === mapCount;
                    mapCountSelect.appendChild(option);
                }
                if (ucount > 2) {
                    mapCountField.style.display = 'flex';
                } else {
                    mapCountField.style.display = 'none';
                }

                const sum = {{ cost }} * (ucount - ucount_paid) + 200 * (mapCount - map_count_paid);

                if (sum > 0) {
                    paid_block.style.display = 'block';
                    ucountlabel.textContent = ucount - ucount_paid;
                    sumlabel.textContent = sum;
                } else {
                    paid_block.style.display = 'none';
                }
                {% if race.reg_status != 'open' %}
                    const teamform_submit = document.getElementById('teamform_submit');
                    if (sum > 0) {
                        reg_close_warning.style.display = 'block';
                        teamform_submit.disabled = true;
                    } else {
                        reg_close_warning.style.display = 'none';
                        teamform_submit.disabled = false;
                    }
                {% endif %}
            }


            // Function to update the ucount options based on the category selection
            function updateUcountOptions() {
                const defaultUcount = {{ team.ucount }};
                const selectedCategory = categorySelect.value;
                ucountSelect.innerHTML = ''; // Clear current options

                // Set ucount options based on category
                let ucountOptions;
                switch (selectedCategory) {
                    case '8':
                    case '16':
                        ucountOptions = [2, 3];
                        break;
                    case '9':
                    case '13':
                    case '17':
                    case '21':
                    case '24':
                        ucountOptions = [4, 5, 6];
                        break;
                    default:
                        ucountOptions = [2];
                }

                // Populate ucount options dynamically
                ucountOptions.forEach(function (optionValue) {
                    const option = document.createElement('option');
                    option.value = optionValue.toString();
                    option.textContent = optionValue.toString();
                    ucountSelect.appendChild(option);
                });

                // Set the first option as selected and trigger the change event to update athlete fields
                ucountSelect.value = (ucountOptions.includes(defaultUcount)) ? defaultUcount.toString() : ucountOptions[0].toString();
                updateAthleteFields();
            }

            // Event listener for changing the category, update ucount if needed
            categorySelect.addEventListener('change', updateUcountOptions);

            // Event listener for changing ucount, hide/show athlete fields accordingly
            ucountSelect.addEventListener('change', updateAthleteFields);

            mapCountSelect.addEventListener("change", updateAthleteFields);

            // Initial setup: Hide all athlete fields above 2 by default
            updateUcountOptions();
            updateAthleteFields(); // Set the initial visibility of athlete fields

            // Персональные данные - включение кнопки отправки формы
            const consent = document.getElementById('consent');
            const teamform_submit = document.getElementById('teamform_submit');
            const common_paid = document.getElementById('common_paid');

            {% if not team.id %}
              {# Если редактирование команды, то кнопку показываем #}
              function toggleSubmit() {
                teamform_submit.disabled = !consent.checked;
                if (common_paid) {
                    common_paid.disabled = !consent.checked;
                }
              }
              toggleSubmit();                 // первичная инициализация
              consent.addEventListener('change', toggleSubmit);
            {% endif %}
        });
    </script>
{% endblock %}