{% extends "website/base.html" %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'vendor/easymde/easymde.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/fontawesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/solid.min.css' %}">
  <script defer src="{% static 'vendor/easymde/easymde.min.js' %}"></script>
  <script defer src="{% static 'js/markdown-editor.js' %}"></script>
{% endblock %}

{% block title %}Редактировать: {{ page.title }}{% endblock %}
{% block pagetitle %}Редактировать: {{ page.title }}{% endblock %}

{% block content %}
  <section class="pt-4 pb-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-12">
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              {{ form.title.label_tag }}
              {{ form.title }}
            </div>
            <div class="mb-3">
              {{ form.content.label_tag }}
              {{ form.content }}
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'page' page.slug %}" class="btn btn-secondary">Отмена</a>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
