{% extends "website/base.html" %}

{% block content %}
    <section class="space-sm">
        <div class="container align-self-start">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-7">
                    <div class="card card-lg text-center">
                        <div class="card-body">
                            <div class="mb-3">
                                <h1 class="h2 mb-2">Восстановление пароля</h1>
                                <span>Введите свою электронную почту</span>
                            </div>
                            <div class="row no-gutters justify-content-center">
                                <form action="{% url 'password_reset' %}" method="POST" class="text-left col-lg-8">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form.email.label_tag }}
                                        {{ form.email }}
                                    </div>
                                    {% if form.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form.email.errors }}
                                        </div>
                                    {% endif %}
                                    <div class="text-center mt-3">
                                        <button type="submit" class="btn btn-lg btn-primary">Отправить ссылку для
                                            сброса
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <span class="text-small">Вспомнили пароль? <a href="{% url 'passlogin' %}">Войти</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
