{% extends "website/base.html" %}

{% block content %}
    <section class="space-sm">
        <div class="container align-self-start">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-7">
                    <div class="card card-lg text-center">
                        <div class="card-body">
                            <div class="mb-3">
                                <h1 class="h2 mb-2">Пароль изменен</h1>
                                <p>Ваш пароль был успешно изменен.</p>
                            </div>
                            <div class="text-center mt-3">
                                <a href="{% url 'index' %}" class="btn btn-lg btn-primary">На главную</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <span class="text-small">Возникли проблемы? <a href="{% url 'password_reset' %}">Сбросить пароль снова</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
