{% extends "website/base.html" %}

{% block title %}Политика конфиденциальности{% endblock %}
{% block pagetitle %}Политика конфиденциальности{% endblock %}

{% block content %}
<section id="privacy-policy" class="pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Политика конфиденциальности</h1>
                <p>Приложение «Кольцо24» не собирает и не хранит персональные данные пользователей.</p>
                <p>В приложении отображается только информация, которую участники разместили при регистрации на сайте <a href="https://kolco24.ru/">kolco24.ru</a>.</p>
                <p>По вопросам обновления или удаления данных вы можете связаться с организаторами по адресу <a href="mailto:org@kolco24.ru">org@kolco24.ru</a>.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
