{% extends "website/base.html" %}

{% block content %}
        <section class="space-sm">
            <div class="container align-self-start">
                <!--end of row-->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-7">
                        <div class="card card-lg">
                            <div class="card-body">
                                    {% if success == 'export'%}
                                    <h1 class="h2 mb-2 text-center">Успешный экспорт!</h1>
                                    <span>Данные успешно экпортированы в <a href="{{ form.urladdress.value }}">{{ form.urladdress.value }}</a></span>
                                    {% elif success == 'import' %}
                                    <h1 class="h2 mb-2 text-center">Успешный импорт!</h1>
                                    <span>Обновлено {{ count }} записей</span>
                                    {% else %}
                                    <div class="mb-3">
                                        <h1 class="h2 mb-2 text-center">Привет</h1>
                                        <p>Введите ссылку таблицы google docs для экспорта данных команд</p>
                                        <p>Для экспорта необходимо открыть документ для адреса: <code>kolco24-2@api-project-164131390820.iam.gserviceaccount.com</code></p>
                                        <p>Перед экспортом команд нужно заполнить колонку <code>B</code> номерами ID команд</p>
                                    </div>
                                    <div class="row no-gutters justify-content-center">
                                        <form action="/sync_googledocs/" method="POST" class="text-left col-lg-12">
                                            <div class="form-group">
                                                {{ form.urladdress.label_tag }}
                                                {{ form.urladdress }}
                                            </div>
                                            {% if form.non_field_errors %}
                                            <div class="alert alert-danger" role="alert">
                                                    {{ form.non_field_errors }}
                                            </div>
                                            {% endif%}

                                            <div class="form-row form-group">
                                                    <div class="col">
                                                        {{ form.sync_type.label_tag }}
                                                        {{ form.sync_type }}
                                                        {% if form.sync_type.errors %}
                                                            <div class="invalid-feedback">
                                                                {{ form.sync_type.errors}}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            <div class="text-center mt-3">
                                                <button type="submit" class="btn btn-lg btn-primary">Отправить</button>
                                            </div>
                                            {% csrf_token %}
                                        </form>
                                    </div>
                                    {% endif %}
                                <!--end of row-->
                            </div>
                        </div>
                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <!--end of section-->
{% endblock %}
{% block google_analytics %}{% endblock %}