{% extends "website/base.html" %}

{% block content %}
        <div class="container">
            <div class="row flex-md-row card card-lg">
                <div class="col-12 col-md-7 card-body bg-secondary">
                    <div class="text-center mb-4">
                        <h1 class="h2 mb-2">Моя команда на <a id="dist_header" href="javascript:void(0);" style="border-bottom: 2px dashed;color:#343a40;">{{ team_form.dist.value }}</a></h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10">
                            <form id="teamform" action="{% url 'my_team' %}" method="POST" >
                                <div class="form-row form-group">
                                    <div class="col">
                                        {% comment %} <input class="form-control form-control-lg" type="text" id="company" placeholder="Название команды" /> {% endcomment %}
                                        {{ team_form.name }}
                                        {% if team_form.name.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.name.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        {% comment %} <input class="form-control form-control-lg" type="text" id="city" placeholder="Город" /> {% endcomment %}
                                        {{ team_form.city }}
                                        {% if team_form.city.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.city.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        {% comment %} <input class="form-control form-control-lg" type="text" id="organization" placeholder="Клуб(организация)" /> {% endcomment %}
                                        {{ team_form.organization }}
                                        {% if team_form.organization.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.organization.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <p>Участники:</p>
                                
                                <div class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet1 }}
                                        {% if team_form.athlet1.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet1.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth1 }}
                                        {% if team_form.birth1.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth1.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet2 }}
                                        {% if team_form.athlet2.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet2.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth2 }}
                                        <small id="add_member3" class="form-text text-right d-none"><a href="javascript:set_ucount(3)">Добавить участника</a></small> 
                                        {% if team_form.birth2.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth2.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <div id="member3" class="form-row form-group {% if team_form.ucount.value < 3 %}d-none{% endif %}">
                                    <div class="col-8">
                                        {{ team_form.athlet3 }}
                                        <small id="del_member3" class="form-text d-none"><a href="javascript:set_ucount(2)">Удалить участника</a></small> 
                                        {% if team_form.athlet3.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet3.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth3 }}
                                        <small id="add_member4" class="form-text text-right d-none"><a href="javascript:set_ucount(4)">Добавить участника</a></small> 
                                        {% if team_form.birth3.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth3.errors}}
                                            </div>
                                    
                                        {% endif %}
                                    </div>
                                </div>
    
                                <div id="member4" class="form-row form-group {% if team_form.ucount.value < 4 %}d-none{% endif %}">
                                    <div class="col-8">
                                        {{ team_form.athlet4 }}
                                        <small id="del_member4" class="form-text d-none"><a href="javascript:set_ucount(3)">Удалить участника</a></small> 
                                        {% if team_form.athlet4.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet4.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth4 }}
                                        <small id="add_member5" class="form-text text-right d-none"><a href="javascript:set_ucount(5)">Добавить участника</a></small> 
                                        {% if team_form.birth4.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth4.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
    
                                <div id="member5" class="form-row form-group {% if team_form.ucount.value < 5 %}d-none{% endif %}">
                                    <div class="col-8">
                                        {{ team_form.athlet5 }}
                                        <small id="del_member5" class="form-text d-none"><a href="javascript:set_ucount(4)">Удалить участника</a></small> 
                                        {% if team_form.athlet5.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet5.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth5 }}
                                        <small id="add_member6" class="form-text text-right d-none"><a href="javascript:set_ucount(6)">Добавить участника</a></small> 
                                        {% if team_form.birth5.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth5.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div id="member6" class="form-row form-group {% if team_form.ucount.value < 6 %}d-none{% endif %}">
                                    <div class="col-8">
                                        {{ team_form.athlet6 }}
                                        <small id="del_member6" class="form-text d-none"><a href="javascript:set_ucount(5)">Удалить участника</a></small> 
                                        {% if team_form.athlet6.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet6.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth6 }}
                                        {% if team_form.birth6.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth6.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {{ team_form.paymentid }}
                                {% csrf_token %}
                                <div class="form-row form-group">
                                    <div class="col">
                                        <button class="btn btn-block btn-success" type="submit" id="teamform_submit">Сохранить</button>
                                    </div>
                                </div>
                                <div id="team_form_alert" class="alert alert-success" role="alert" style="display: none;">
                                    Text
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end of col-->
                            
                <div class="col-12 col-md-5 card-body">
                    <div>
                        <div class="mb-3 text-center">
                            <h4 class="h4 mb-2">{{main_team.teamname}}</h4>
                            <span>Администрирование</span>
                        </div>
                        <form id="team_form_admin" action="{% url 'team_admin' %}" method="POST" >
                            <div class="form-row form-group">
                                <div class="col">
                                    {{ team_form_admin.category.label_tag }}
                                    {{ team_form_admin.category }}
                                    {% if team_form_admin.category.errors %}
                                        <div class="invalid-feedback">
                                            {{ team_form_admin.category.errors}}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col">
                                    {{ team_form_admin.start_number.label_tag }}
                                    {{ team_form_admin.start_number }}
                                    {% if team_form_admin.start_number.errors %}
                                        <div class="invalid-feedback">
                                            {{ team_form_admin.start_number.errors}}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="custom-control custom-checkbox-switch">
                                    {{ team_form_admin.get_package }}
                                    <label class="custom-control-label" for="{{ team_form_admin.get_package.auto_id }}">{{ team_form_admin.get_package.label }}</label>
                                    {% if team_form_admin.get_package.errors %}
                                        <div class="invalid-feedback">
                                            {{ team_form_admin.get_package.errors}}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="custom-control custom-checkbox-switch">
                                    {{ team_form_admin.get_number }}
                                    <label class="custom-control-label" for="{{ team_form_admin.get_number.auto_id }}">{{ team_form_admin.get_number.label }}</label>
                                    {% if team_form_admin.get_number.errors %}
                                        <div class="invalid-feedback">
                                            {{ team_form_admin.get_number.errors}}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="custom-control custom-checkbox-switch">
                                    {{ team_form_admin.get_map }}
                                    <label class="custom-control-label" for="{{ team_form_admin.get_map.auto_id }}">{{ team_form_admin.get_map.label }}</label>
                                    {% if team_form_admin.get_map.errors %}
                                        <div class="invalid-feedback">
                                            {{ team_form_admin.get_map.errors}}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="custom-control custom-checkbox-switch">
                                    {{ team_form_admin.give_paper }}
                                    <label class="custom-control-label" for="{{ team_form_admin.give_paper.auto_id }}">{{ team_form_admin.give_paper.label }}</label>
                                    {% if team_form_admin.give_paper.errors %}
                                        <div class="invalid-feedback">
                                            {{ team_form_admin.give_paper.errors}}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {{ team_form.paymentid }}
                            {% csrf_token %}
                            <div class="form-row form-group">
                                <div class="col">
                                    <button class="btn btn-block btn-success" type="submit" id="team_form_admin_submit">Сохранить</button>
                                </div>
                            </div>
                            <div id="team_form_admin_alert" class="alert alert-success" role="alert" style="display: none;">
                                Text
                            </div>
                        </form>
                        <hr class="short">
                        
                        <div id="paidfor" class="row justify-content-between">
                            <div class="col-6"><p>Оплачено за <span id="paidfor_count">{{ main_team.paid_people }}</span> чел.</p></div>
                            <div class="col-6"><p class="text-right"><span>{{ main_team.paid_sum }}</span> руб</p></div>
                        </div>
                        <hr class="short">
                        
                        <a href="/teams_predstart" class="btn btn-primary" role="button">Список команд ›</a>
                        
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
        <!--end of container-->
    </section>
    <!--end of section-->
{% endblock %}
{% block footer_js_include %}
    <script>
        {% load l10n %}
        var cost = {{ cost }};
        var ucount = {{ team_form.ucount.value }};
        var ucount_paid = {{ main_team.paid_people | unlocalize }};
        var dist = "{{ team_form.dist.value }}";
        var csrf_token = "{{ csrf_token }}";
    </script>
     <script type="text/javascript" src="/static/js/team.js?ver=3"></script>
     {% if user.is_superuser %}<script type="text/javascript" src="/static/js/team_admin.js?ver=1"></script>{% endif%}
{% endblock %}
