{% extends "website/base.html" %}

{% block content %}
    <section class="space-sm">
        <div class="container">
            <div class="row flex-md-row card card-lg">
                <div class="col-12 col-md-7 card-body bg-secondary">
                    <div class="text-center mb-3">
                        <h1 class="h2 mb-2">Добавление новой команды</h1>
                        <span>Данные команды</span>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10">
                            <form id="teamform" action="{% url 'add_team' race_id %}" method="POST">
                                <div class="form-row form-group">
                                    <div class="col">
                                        {{ team_form.teamname }}
                                        {% if team_form.teamname.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.teamname.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        {{ team_form.city }}
                                        {% if team_form.city.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.city.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        {{ team_form.organization }}
                                        {% if team_form.organization.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.organization.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col-7">
                                        {{ team_form.category2_id.label_tag }}
                                        {{ team_form.category2_id }}
                                        {% if team_form.category2_id.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.category2_id.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-5">
                                        {{ team_form.ucount.label_tag }}
                                        {{ team_form.ucount }}
                                        {% if team_form.ucount.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.ucount.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <p>Участники:</p>

                                <div class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet1 }}
                                        {% if team_form.athlet1.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet1.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth1 }}
                                        {% if team_form.birth1.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth1.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet2 }}
                                        {% if team_form.athlet2.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet2.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth2 }}
                                        {% if team_form.birth2.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth2.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div id="member3" class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet3 }}
                                        {% if team_form.athlet3.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet3.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth3 }}
                                        {% if team_form.birth3.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth3.errors }}
                                            </div>

                                        {% endif %}
                                    </div>
                                </div>

                                <div id="member4" class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet4 }}
                                        {% if team_form.athlet4.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet4.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth4 }}
                                        {% if team_form.birth4.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth4.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div id="member5" class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet5 }}
                                        {% if team_form.athlet5.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet5.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth5 }}
                                        {% if team_form.birth5.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth5.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div id="member6" class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet6 }}
                                        {% if team_form.athlet6.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet6.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth6 }}
                                        {% if team_form.birth6.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth6.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {{ team_form.paymentid }}
                                {% csrf_token %}
                                {% if team_form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ team_form.non_field_errors }}
                                    </div>
                                {% endif %}
                                <div class="form-row form-group">
                                    <div class="col">
                                        <button class="btn btn-block btn-success" type="submit" id="teamform_submit">
                                            Сохранить
                                        </button>
                                    </div>
                                </div>
                                <div id="team_form_alert" class="alert alert-success" role="alert"
                                     style="display: none;">
                                    Text
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end of col-->
                <div class="col-12 col-md-5 card-body">
                    <div>
                        <div class="mb-3 text-center">
                            <h3 class="h2 mb-2">Стартовый взнос</h3>
                        </div>
                        <ul class="list-unstyled list-spacing-sm mb-3 ">
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3">1500 руб</div>
                                <div class="col-9">С 10 по 12 сентября</div>
                            </li>
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3">1700 руб</div>
                                <div class="col-9">С 13 по 30 сентября</div>
                            </li>
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3">1900 руб</div>
                                <div class="col-9">С 1 по 9 октября</div>
                            </li>
                        </ul>
                        <ul class="list-unstyled list-spacing-sm mb-5 ">
                            <li class="row">
                                <div class="col-2 col-md-1"><i class="icon-minus h5 text-muted"></i>
                                </div>
                                <div class="col-10">При достижении лимита участников, регистрация может прекратиться
                                    раньше
                                </div>
                            </li>
                            <li class="row align-items-center">
                                <div class="col-2 col-md-1"><i class="icon-minus h5 text-muted"></i>
                                </div>
                                <div class="col-10">Возврат взносов за вычетом понесенных расходов возможен до 1
                                    октября
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
{% endblock %}