<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Кольцо 24{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block head_descr %}XX соревнования по пешеходному туризму, рогейн КОЛЬЦО 24{% endblock %}">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
        <link href="/static/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/entypo.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/favicon.ico"/ rel="shortcut icon" type="image/png">

        <meta name="author" content="Турклуб Спутник" />

        <meta property="article:author" content="Турклуб Спутник" />
        <meta property="article:section" content="Туризм" />

        <meta property="og:title" content="{% block og_title %}Регистрация на Кольцо 24{% endblock %}" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="{% block og_description %}XX соревнования по пешеходному туризму в дисциплине рогейн{% endblock %}" />
        <meta property="og:image" content="https://kolco24.ru/static/images/kolco24.jpg" />
        <meta property="og:url" content="https://kolco24.ru" />
        <meta property="og:site_name" content="Кольцо 24" />

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{% block twitter_title %}Регистрация на Кольцо 24{% endblock %}">
        <meta name="twitter:description" content="{% block twitter_description %}XX соревнования по пешеходному туризму в дисциплине рогейн{% endblock %}">
        <meta name="twitter:image" content="https://kolco24.ru/static/images/kolco24.jpg">
        <meta name="twitter:url" content="https://kolco24.ru">
    </head>
<body>
    {% block navbar %}
    <div class="nav-container">
        <div class="bg-dark navbar-dark" data-sticky="top">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/">
                        <img alt="Кольцо 24" src="/static/images/logo.png" /> Кольцо 24
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="icon-menu h4"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                        <ul class="navbar-nav">
                        {% if not user.is_superuser %}
                            <li class="nav-item">
                                <a href="/#about" class="nav-link">О рогейне</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown">Дистанции</a>
                                <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                                    <a class="dropdown-item" href="/#distances">
                                        <span class="h6 mb-0">Первое свидание</span>
                                        <p class="text-small text-muted">6 часов / 2-3 человека</p>
                                    </a>

                                    <div class="dropdown-divider"></div>


                                    <a class="dropdown-item" href="/#distances">
                                        <span class="h6 mb-0">Все серьезно</span>
                                        <p class="text-small text-muted">12 часов / 2 и 4-6 человек</p>
                                    </a>

                                    <div class="dropdown-divider"></div>


                                    <a class="dropdown-item" href="/#distances">
                                        <span class="h6 mb-0">Все сложно</span>
                                        <p class="text-small text-muted">24 часа / 4-6 человек</p>
                                    </a>


                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="componentsDropdown" role="button" data-toggle="dropdown">Инфо</a>
                                <div class="dropdown-menu" aria-labelledby="componentsDropdown">

                                    <a class="dropdown-item" href="https://docs.google.com/document/d/1RJ4mEY_FtqUR3n5tTR9eCOhLUnkCkK2dWFPzQiMZkXg/edit" target="_blank">Положение</a>

                                    <a class="dropdown-item" href="/#schedule">Программа</a>

                                </div>
                            </li>
                            {% endif %}
                            {% if user.is_superuser %}
                            <li class="nav-item">
                                <a href="/teams" class="nav-link">Команды</a>
                            </li>
                            <li class="nav-item">
                                <a href="/teams_predstart" class="nav-link">Заявки</a>
                            </li>
                            {% comment %} <li class="nav-item">
                                <a href="/teams_start" class="nav-link">Старты</a>
                            </li> {% endcomment %}
                            <li class="nav-item">
                                <a href="/teams_finish" class="nav-link">Финиш</a>
                            </li>
                            {% else %}
                            <li class="nav-item">      
                                    <a href="/teams" class="nav-link">Команды </a>
                                    {% comment %} <span href="#" class="badge badge-primary">{{ team_number }}</span></a> {% endcomment %}
                            </li>
                            {% endif %}
                        </ul>

                        <ul class="navbar-nav">
                            {% if user.is_active %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown">{{ user.last_name}} {{user.first_name }}</a>
                                <div class="dropdown-menu" aria-labelledby="usersDropdown">
                                        {% if user.is_superuser %}
                                            <a class="dropdown-item" href="/admin">Админка</a>
                                            <a class="dropdown-item" href="/sync_table">Экспортировать в googledocs</a>
                                        {% endif %}
                                        <form action="/logout" method="POST" id="logoutForm">
                                            <input type="hidden" name="logout" value="logout">
                                            {% csrf_token %}
                                        </form>
                                        <a class="dropdown-item" style="color: #495057;" onclick="document.getElementById('logoutForm').submit();">Выход</a>
                                        
                                </div>
                                
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a href="/login" class="nav-link">Войти</a>
                            </li>
                            {% endif %}                        
                        </ul>

                    </div>
                    <!--end nav collapse-->
                </nav>
            </div>
            <!--end of container-->
        </div>
    </div>
    {% endblock %}
    <div class="main-container">
    {% comment %}
    <section class="space-xs text-center bg-gradient text-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <i class="mr-1 icon-warning"></i>
                    <span class="mr-2">Кольцо 24 прошло. Спасибо всем за участие!</span>
                    <a href="https://docs.google.com/spreadsheets/d/1cvJr3AmTH6y1WW2BdwRPmjTldcD4cgZAoTzzfOeAG4U/edit" class="text-white">Протоколы ›</a>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section> 
    {% endcomment %}
    {% block content%}{% endblock %}

    {% block footer_menu%}
        <footer class="bg-gray text-light footer-long">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <img alt="Image" src="/static/images/logo_big.png" width="80%" class="mb-4" />
                    </div>
                    <!--end of col-->
                    <div class="col-12 col-md-9">
                        <span class="h5">Соревнования по пешеходному туризму в дисциплине рогейн "КОЛЬЦО 24"</span>
                        <div class="row no-gutters">
                            <div class="col-6 col-lg-4">
                                <h6>Навигация</h6>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="/">Главная</a>
                                    </li>
                                    <li>
                                        <a href="/login">Вход</a>
                                    </li>
                                    <li>
                                        {% comment %} <i class="icon-fingerprint"></i> {% endcomment %}
                                        <a href="https://vk.com/kolco24" target="_blank"><i class="icon-vk"></i>Группа в ВК</a>
                                    </li>
                                    <li>
                                        {% comment %} <i class="icon-fingerprint"></i> {% endcomment %}
                                        <a href="https://vk.com/kolco24y2018" target="_blank"><i class="icon-vk"></i>Кольцо-24 2018</a>
                                    </li>
                                    <li>
                                        <a href="https://vk.com/kolco242017" target="_blank">Кольцо-24 2017</a>
                                    </li>
                                    <li>
                                        <a href="https://vk.com/kolco242016" target="_blank">Кольцо-24 2016</a>
                                    </li>
                                    <li>
                                        <a href="https://vk.com/kolco242015" target="_blank">Кольцо-24 2015</a>
                                    </li>
                                </ul>
                            </div>
                            <!--end of col-->
                            <div class="col-6 col-lg-4">
                                <h6>Информация и документы</h6>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="https://docs.google.com/document/d/1RJ4mEY_FtqUR3n5tTR9eCOhLUnkCkK2dWFPzQiMZkXg/edit" target="_blank">Положение (google docs)</a>
                                    </li>
                                    <li>
                                        <a href="https://docs.google.com/spreadsheets/u/1/d/1rEuziDCYGFJyIGoXgDPnVE1p37cwLI-2SbCIlLPL-Tw/edit?usp=sharing" target="_blank">Командная заявка</a>
                                    </li>
                                    
                                    <li>
                                        <a href="https://vk.com/kolco24" target="_blank">Группа в ВК</a>
                                    </li>
                                    <li>
                                        <a href="/team">Регистрация</a>
                                    </li>
                                    <li>
                                        Email: <a href="#">org@kolco24.ru</a>
                                    </li>
                                </ul>
                            </div>
                            <!--end of col-->
                            <div class="col-6 col-lg-4">
                                <h6>Сообщество и друзья</h6>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="https://tk-sputnik.org/" target="_blank">ТК Спутник</a> <a href="https://vk.com/tksputnik" target="_blank">(Группа в VK)</a>
                                    </li>
                                    <li>
                                        <a href="https://vk.com/mountain_sputnik" target="_blank">Школа горного туризма</a>
                                    </li>
                                </ul>
                            </div>
                            <!--end of col-->
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </footer>
        {% endblock %}
    </div>

    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.smartWizard.min.js"></script>
    <script type="text/javascript" src="/static/js/flickity.pkgd.min.js"></script>
    <script type="text/javascript" src="/static/js/scrollMonitor.js"></script>
    <script type="text/javascript" src="/static/js/smooth-scroll.polyfills.min.js"></script>
    <script type="text/javascript" src="/static/js/prism.min.js"></script>
    <script type="text/javascript" src="/static/js/zoom.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/theme.js"></script>
    {% block footer_js_include %}{% endblock%}
    {% block google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104888669-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-104888669-1');
    </script>
    {% endblock %}
</body>

</html>