{% extends "website/base.html" %}

{% block content %}
    <section class="flush-with-above space-xs">
        <div class="container">
            <div class="row justify-content-center mb-2">
                <!--end of col-->
                <div class="col">
                    <div class="float-right">
                        {% if reg_open %}
                        <form method="POST" action="/newteam">
                                <input type="hidden" name="newteam" value="create">
                                {% csrf_token %}
                                <div class="form-row form-group">
                                    <button class="btn btn-block" type="submit">
                                        Создать новую команду
                                    </button>
                                </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--end of row-->
            <ul class="feature-list feature-list-sm row {% if not other_teams or user.is_superuser %}d-none{% endif %}">
                {% for team in other_teams %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div>
                                <span class="h6">{{ team.teamname|default:"Команда" }}{% if not team.teamname %}_{{ team.id }}{% endif %}</span>
                                <span class="badge badge-secondary"> {{ team.dist }}</span>
                            </div>
                            <a href="/team/{{team.paymentid}}">Посмотреть ›</a>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled list-spacing-xs">
                                <li>
                                    1) {{ team.athlet1|default:"---" }}
                                </li>
                                <li>
                                    2) {{ team.athlet2|default:"---" }}
                                </li>
                                {% if team.ucount >= 3 %}
                                    <li>
                                        3) {{ team.athlet3|default:"---" }}
                                    </li>
                                {% endif %}
                                {% if team.ucount >= 4 %}
                                    <li>
                                        4) {{ team.athlet4|default:"---" }}
                                    </li>
                                {% endif %}
                                {% if team.ucount >= 5 %}
                                    <li>
                                        5) {{ team.athlet5|default:"---" }}
                                    </li>
                                {% endif %}
                                {% if team.ucount >= 6 %}
                                    <li>
                                        6) {{ team.athlet6|default:"---" }}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <div>
                                {% if team.ucount <= team.paid_people %}
                                    Оплачено
                                {% else %}
                                    Требуется оплата
                                {% endif %}
                            </div>
                            <div class="text-small">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="icon-user"></i> {{ team.ucount }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of card-->
                </div>
                <!--end of col-->
                {% endfor %}
            </ul>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

        <div class="container">
            <div class="row flex-md-row card card-lg">
                <div class="col-12 col-md-7 card-body bg-secondary">
                    <div class="text-center mb-4">
                        <h1 class="h2 mb-2">Моя команда на <a id="dist_header" href="javascript:void(0);" style="border-bottom: 2px dashed;color:#343a40;">{{ team_form.dist.value }}</a></h1>
                        <span>Все эти поля можно заполнить позже</span>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10">
                            <form id="teamform" action="{% url 'my_team' %}" method="POST" >
                                <div class="form-row form-group">
                                    <div class="col">
                                        {% comment %} <input class="form-control form-control-lg" type="text" id="company" placeholder="Название команды" /> {% endcomment %}
                                        {{ team_form.name }}
                                        {% if team_form.name.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.name.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        {% comment %} <input class="form-control form-control-lg" type="text" id="city" placeholder="Город" /> {% endcomment %}
                                        {{ team_form.city }}
                                        {% if team_form.city.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.city.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        {% comment %} <input class="form-control form-control-lg" type="text" id="organization" placeholder="Клуб(организация)" /> {% endcomment %}
                                        {{ team_form.organization }}
                                        {% if team_form.organization.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.organization.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <p>Участники:</p>
                                
                                <div class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet1 }}
                                        {% if team_form.athlet1.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet1.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth1 }}
                                        {% if team_form.birth1.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth1.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-row form-group">
                                    <div class="col-8">
                                        {{ team_form.athlet2 }}
                                        {% if team_form.athlet2.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet2.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth2 }}
                                        <small id="add_member3" class="form-text text-right d-none"><a href="javascript:set_ucount(3)">Добавить участника</a></small> 
                                        {% if team_form.birth2.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth2.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <div id="member3" class="form-row form-group {% if team_form.ucount.value < 3 %}d-none{% endif %}">
                                    <div class="col-8">
                                        {{ team_form.athlet3 }}
                                        <small id="del_member3" class="form-text d-none"><a href="javascript:set_ucount(2)">Удалить участника</a></small> 
                                        {% if team_form.athlet3.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet3.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth3 }}
                                        <small id="add_member4" class="form-text text-right d-none"><a href="javascript:set_ucount(4)">Добавить участника</a></small> 
                                        {% if team_form.birth3.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth3.errors}}
                                            </div>
                                    
                                        {% endif %}
                                    </div>
                                </div>
    
                                <div id="member4" class="form-row form-group {% if team_form.ucount.value < 4 %}d-none{% endif %}">
                                    <div class="col-8">
                                        {{ team_form.athlet4 }}
                                        <small id="del_member4" class="form-text d-none"><a href="javascript:set_ucount(3)">Удалить участника</a></small> 
                                        {% if team_form.athlet4.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet4.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth4 }}
                                        <small id="add_member5" class="form-text text-right d-none"><a href="javascript:set_ucount(5)">Добавить участника</a></small> 
                                        {% if team_form.birth4.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth4.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
    
                                <div id="member5" class="form-row form-group {% if team_form.ucount.value < 5 %}d-none{% endif %}">
                                    <div class="col-8">
                                        {{ team_form.athlet5 }}
                                        <small id="del_member5" class="form-text d-none"><a href="javascript:set_ucount(4)">Удалить участника</a></small> 
                                        {% if team_form.athlet5.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet5.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth5 }}
                                        <small id="add_member6" class="form-text text-right d-none"><a href="javascript:set_ucount(6)">Добавить участника</a></small> 
                                        {% if team_form.birth5.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth5.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div id="member6" class="form-row form-group {% if team_form.ucount.value < 6 %}d-none{% endif %}">
                                    <div class="col-8">
                                        {{ team_form.athlet6 }}
                                        <small id="del_member6" class="form-text d-none"><a href="javascript:set_ucount(5)">Удалить участника</a></small> 
                                        {% if team_form.athlet6.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.athlet6.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {{ team_form.birth6 }}
                                        {% if team_form.birth6.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form.birth6.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {{ team_form.paymentid }}
                                {% csrf_token %}
                                <div class="form-row form-group">
                                    <div class="col">
                                        <button class="btn btn-block btn-success" type="submit" id="teamform_submit">Сохранить</button>
                                    </div>
                                </div>
                                <div id="team_form_alert" class="alert alert-success" role="alert" style="display: none;">
                                    Text
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end of col-->
                            
                <div class="col-12 col-md-5 card-body">
                    <div>
                        {% if not user.is_superuser %}
                        <div class="mb-3 text-center">
                            <h4 class="h4">Стартовый взнос</h4>
                        </div>
                        <ul class="list-unstyled list-spacing-sm mb-3 ">
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3"><strike>500 руб</strike></div>
                                <div class="col-9"><strike>Первые 15 команд</strike></div>
                            </li>
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3"><strike>600 руб</strike></div>
                                <div class="col-9"><strike>по 31 июля</strike></div>
                            </li>
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3"><strike>700 руб</strike></div>
                                <div class="col-9"><strike>С 1 августа по 18 августа</strike></div>
                            </li>
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3"><strike>800 руб</strike></div>
                                <div class="col-9"><strike>С 19 августа по 1 сентября</strike></div>
                            </li>
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3"><strike>900 руб</strike></div>
                                <div class="col-9"><strike>С 2 сентября по 30 сентября</strike></div>
                            </li>
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3"><strike>1000 руб</strike></div>
                                <div class="col-9"><strike>С 1 октября по 10 октября</strike></div>
                            </li>
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3"><strike>1200 руб</strike></div>
                                <div class="col-9"><strike> Оплата наличными на месте старта</strike></div>
                            </li>
                            {% if not reg_open %}
                                <h4><strong>Регистрация закрыта</strong></h4>
                            {% endif %}
                            {% comment %}
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3{% if cost < 700 %}  text-muted text-small{% endif %}">{% if cost == 700 %}<strong>{% elif cost > 700 %}<strike>{% endif %}700р{% if cost == 700 %}</strong>{% elif cost > 700 %}</strike>{% endif %}</div>
                                <div class="col-9{% if cost < 700 %} text-muted text-small{% endif %}">{% if cost > 700 %}<strike>{% endif %}При оплате с 20 августа по 16 сентября{% if cost > 700 %}</strike>{% endif %}</div>
                            </li> 
                            <li class="row align-items-center">
                                <div class="col-3 col-md-3{% if cost < 800 %} text-muted text-small{% endif %}">{% if cost == 800 %}<strong>{% elif cost > 800 %}<strike>{% endif %}800р{% if cost == 800 %}</strong>{% elif cost > 800 %}</strike>{% endif %}</div>
                                <div class="col-9{% if cost < 800 %} text-muted text-small{% endif %}">{% if cost > 800 %}<strike>{% endif %}При оплате с 17 сентября по 11 октября{% if cost > 800 %}</strike>{% endif %}</div>
                            </li>
                            {% endcomment %}
                        </ul>
                        {% elif user.is_superuser %}
                            <div class="mb-3 text-center">
                                <h4 class="h4 mb-2">{{main_team.teamname}}</h4>
                                <span>Администрирование</span>
                            </div>
                            <form id="team_form_admin" action="{% url 'team_admin' %}" method="POST" >
                                <div class="form-row form-group">
                                    <div class="col">
                                        {{ team_form_admin.category.label_tag }}
                                        {{ team_form_admin.category }}
                                        {% if team_form_admin.category.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form_admin.category.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        {{ team_form_admin.start_number.label_tag }}
                                        {{ team_form_admin.start_number }}
                                        {% if team_form_admin.start_number.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form_admin.start_number.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="custom-control custom-checkbox-switch">
                                        {{ team_form_admin.get_package }}
                                        <label class="custom-control-label" for="{{ team_form_admin.get_package.auto_id }}">{{ team_form_admin.get_package.label }}</label>
                                        {% if team_form_admin.get_package.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form_admin.get_package.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="custom-control custom-checkbox-switch">
                                        {{ team_form_admin.get_number }}
                                        <label class="custom-control-label" for="{{ team_form_admin.get_number.auto_id }}">{{ team_form_admin.get_number.label }}</label>
                                        {% if team_form_admin.get_number.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form_admin.get_number.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="custom-control custom-checkbox-switch">
                                        {{ team_form_admin.give_paper }}
                                        <label class="custom-control-label" for="{{ team_form_admin.give_paper.auto_id }}">{{ team_form_admin.give_paper.label }}</label>
                                        {% if team_form_admin.give_paper.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form_admin.give_paper.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        {{ team_form_admin.start_time.label_tag }}
                                        {{ team_form_admin.start_time }}
                                        {% if team_form_admin.start_time.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form_admin.start_time.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        {{ team_form_admin.finish_time.label_tag }}
                                        {{ team_form_admin.finish_time }}
                                        {% if team_form_admin.finish_time.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form_admin.finish_time.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="custom-control custom-checkbox-switch">
                                        {{ team_form_admin.give_photos }}
                                        <label class="custom-control-label" for="{{ team_form_admin.give_photos.auto_id }}">{{ team_form_admin.give_photos.label }}</label>
                                        {% if team_form_admin.give_photos.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form_admin.give_photos.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        {{ team_form_admin.penalty.label_tag }}
                                        {{ team_form_admin.penalty }}
                                        {% if team_form_admin.penalty.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form_admin.penalty.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="custom-control custom-checkbox-switch">
                                        {{ team_form_admin.dnf }}
                                        <label class="custom-control-label" for="{{ team_form_admin.dnf.auto_id }}">{{ team_form_admin.dnf.label }}</label>
                                        {% if team_form_admin.dnf.errors %}
                                            <div class="invalid-feedback">
                                                {{ team_form_admin.dnf.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {{ team_form.paymentid }}
                                {% csrf_token %}
                                <div class="form-row form-group">
                                    <div class="col">
                                        <button class="btn btn-block btn-success" type="submit" id="team_form_admin_submit">Сохранить</button>
                                    </div>
                                </div>
                                <div id="team_form_admin_alert" class="alert alert-success" role="alert" style="display: none;">
                                    Text
                                </div>
                            </form>
                        {% endif %}
                        <hr class="short">
                        
                        <div id="paidfor" class="row justify-content-between">
                            <div class="col-6"><p>Оплачено за <span id="paidfor_count">{{ main_team.paid_people }}</span> чел.</p></div>
                            <div class="col-6"><p class="text-right"><span>{{ main_team.paid_sum }}</span> руб</p></div>
                        </div>
                        
                        <div id="sidecolumn_paid">
                            <div class="row mb-4 justify-content-between">
                                <div class="col-6"><p><span id="paidfor_action">Итого</span> за <span id="ucountlabel">2</span> чел.</p></div>
                                <div class="col-6"><p class="text-right"><span id="sumlabel">{% widthratio cost 1 2 %}</span> руб</p></div>
                            </div>
                            <div class="mb-2 text-center">
                                <h4 class="h4 mb-2">Способы оплаты</h4>
                                <div class="row">
                                    <div class="col-6 col-xs-6 col-lg-3">
                                        <div class="card">
                                            <a href="javascript:$('#pay_visamastercard').click();">
                                                <img class="card-img-top" src="/static/images/payments/visa-mastercard.jpg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-xs-6 col-lg-3">
                                        <div class="card">
                                            <a href="javascript:$('#pay_sberbank').click();">
                                                <img class="card-img-top" src="/static/images/payments/sberbank_online.png">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-xs-6 col-lg-3">
                                        <div class="card">
                                            <a href="javascript:$('#pay_yandexmoney').click();">
                                                <img class="card-img-top" src="/static/images/payments/yandex_money.jpg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-xs-6 col-lg-3">
                                        <a href="javascript:$('#pay_tinkoff').click();">
                                            <div class="card">
                                                <img class="card-img-top" src="/static/images/payments/tinkoff.png">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <form class="d-flex flex-column" id="paymentmethod">
                                <div class="custom-control custom-checkbox-switch">
                                    <input id="radio1" name="radio" type="radio" value="visamc" class="custom-control-input" checked>
                                    <label class="custom-control-label" for="radio1">Картой Visa/Mastercard</label>
                                </div>
                                <div class="custom-control custom-checkbox-switch">
                                    <input id="radio2" name="radio" type="radio" value="sberbank" class="custom-control-input">
                                    <label class="custom-control-label" for="radio2">Перевод через Сбербанк.Онлайн</label>
                                </div>
                                <div class="custom-control custom-checkbox-switch">
                                    <input id="radio3" name="radio" type="radio" value="yandexmoney" class="custom-control-input">
                                    <label class="custom-control-label" for="radio3">Яндекс деньги</label>
                                </div>
                                <div class="custom-control custom-checkbox-switch">
                                    <input id="radio4" name="radio" type="radio" value="tinkoff" class="custom-control-input">
                                    <label class="custom-control-label" for="radio4">Перевод через tinkoff-банк</label>
                                </div>
                            </form>
                            <div class="custom-control custom-checkbox-switch">
                                <button type="button" class="btn btn-primary float-right mt-3" id="common_paid">
                                    Оплатить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
        <div class="container" id="paid_explain">
            <div class="row justify-content-center text-center section-intro">
                <div class="col-12 col-md-9 col-lg-8">
                    <h2 class="display-4">Оплата</h2>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
            <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml" id="yandexform">
                <input type="hidden" id="yandexwallet" name="receiver" value="">
                <input type="hidden" name="quickpay-form" value="shop">
                <input type="hidden" id="yatargets" name="targets" value="Взнос за Кольцо-24">
                <input type="hidden" id="yasum" name="sum" value="0" data-type="number">
                <input type="hidden" id ="paymenttype" name="paymentType" value="AC">
                <input type="hidden" name="formcomment" value="Кольцо 24">
                <input type="hidden" name="short-dest" value="Кольцо 24">
                <input type="hidden" id="yalabel" name="label" value="{{ main_team.paymentid }}">
                <input type="hidden" name="need-fio" value="false">
                <input type="hidden" name="need-email" value="false">
                <input type="hidden" name="need-phone" value="false">
                <input type="hidden" name="need-address" value="false">
                <input type="hidden" name="successURL" value="https://kolco24.ru/success/{{ main_team.paymentid }}">
            </form>

            <ul class="row feature-list feature-list-lg">
                <li class="col-12 col-md-6">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="mt-1">Карта Visa/Mastercard</h5>
                                </div>
                                <div class="col-4">
                                    <a class="d-none d-sm-block" href="javascript:$('#pay_visamastercard').click();">
                                        <div class="card ml-2 mb-1">
                                            <img alt="Image" class="img-fluid" style="width:7.5rem;margin: 0 auto;" src="/static/images/payments/visa-mastercard.jpg" />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <p>
                                Платеж картой. Имейте ввиду, что платеж по некоторым зарплатным картам сбербанка не проходит. Если у вас не получилось оплатить этим способом, попробуйте перевод через Сбербанк.Онлайн.
                            </p>
                            <button type="button" class="btn btn-secondary" id="pay_visamastercard">
                                Оплатить
                            </button>
                        </div>
                    </div>
                </li>
                <!--end of col-->
                <li class="col-12 col-md-6">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="mt-2">Перевод через сбербанк-онлайн</h5>
                                </div>
                                <div class="col-4">
                                    <a class="d-none d-sm-block" href="javascript:$('#pay_sberbank').click();">
                                        <div class="card ml-2 mb-1">
                                            <img alt="Image" class="img-fluid" style="width:7.5rem; margin: 0 auto;" src="/static/images/payments/sberbank_online.png" />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <p id="sberbank_initial_explanation" class="mt-3">
                                Перевод в сбербанк онлайн или с помощью СМС на номер 900.
                            </p>
                            <div id="sberbank_pay_manual" class="card" style="display:none;">
                                <div class="card-body">
                                    <h6 class="title-decorative">Реквизиты для платежа</h6>
                                    <dl class="row justfiy-content-between">
                                        <dt class="col-5"><code>Номер карты</code></dt>
                                        <dd class="col-7" id="sberbank_cardnumber"></dd>
                                        <dt class="col-5"><code>ФИО получателя</code></dt>
                                        <dd class="col-7" id="sberbank_name"></dd>
                                        <dt class="col-5"><code>Сумма платежа</code></dt>
                                        <dd class="col-7" id="sberbank_sum"></dd>
                                    </dl>
                                </div>
                                <div class="card-footer">
                                    <p>Перевод можно сделать через <a href="https://online.sberbank.ru/CSAFront/index.do">Сбербанк.онлайн</a> 
                                    или мобильное приложение. При переводе заполните форму ниже и нажмите кнопку <code>сохранить</code>.</p>
                                    <p>Проверка перевода может занять некоторое время</p>
                                    <hr class="short">
                                    <form id="sberpaymentform">
                                        <div class="form-group row">
                                            <label for="sberbank_senderCardNumber" class="col-sm-6 col-form-label">Последние 4 цифры вашей карты</label>
                                            <div class="col-sm-6">
                                            <input type="text" class="form-control" id="sberbank_senderCardNumber" value="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="sberbank_paymentDate" class="col-sm-6 col-form-label">Дата перевода</label>
                                            <div class="col-sm-6">
                                            <input type="text" class="form-control" id="sberbank_paymentDate" placeholder="Дата">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="sberbank_paymentSum" class="col-sm-6 col-form-label">Сумма перевода</label>
                                            <div class="col-sm-6">
                                            <input type="text" class="form-control" id="sberbank_paymentSum" placeholder="Сумма перевода">
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary mb-2" id='sberbank_paymentinfo_btn'>Сохранить</button>
                                        <div id="sberpaymentform_alert" class="alert alert-success" role="alert" style="display: none;">
                                            Text
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <button type="button" class="btn btn-secondary" id="pay_sberbank">
                                Показать реквизиты
                            </button>
                            
                        </div>
                    </div>
                </li>
                <!--end of col-->
                <li class="col-12 col-md-6">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="mt-2">Яндекс деньги</h5>
                                </div>
                                <div class="col-4">
                                    <a class="d-none d-sm-block" href="javascript:$('#pay_yandexmoney').click();">
                                        <div class="card ml-2 mb-1">
                                            <img alt="Image" class="img-fluid" style="width:7.5rem; margin: 0 auto;" src="/static/images/payments/yandex_money.jpg" />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <p class="mt-3">
                                Перевод с помощью платежной системы Яндекс.Деньги
                            </p>
                            <button type="button" class="btn btn-secondary" id="pay_yandexmoney">
                                Оплатить
                            </button>
                        </div>
                    </div>
                </li>
                <!--end of col-->
                <li class="col-12 col-md-6">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="mt-2">Перевод на карту Tinkoff</h5>
                                </div>
                                <div class="col-4">
                                    <a class="d-none d-sm-block" href="javascript:$('#pay_tinkoff').click();">
                                        <div class="card ml-2 mb-1">
                                            <img alt="Image" class="img-fluid" style="width:7.5rem;margin: 0 auto;" src="/static/images/payments/tinkoff.png" />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <p id="tinkoff_initial_explanation" class="mt-3">
                                Перевод на номер карты в банке Tinkoff. Перевод быстро и легко выполняется в мобильном приложении.
                            </p>
                            <div id="tinkoff_pay_manual" class="card" style="display:none;">
                                <div class="card-body">
                                    <h6 class="title-decorative">Реквизиты для платежа</h6>
                                    <dl class="row justfiy-content-between">
                                        <dt class="col-5"><code>Телефон</code></dt>
                                        <dd class="col-7" id="tinkoff_phone"></dd>
                                        <dt class="col-5"><code>Номер карты</code></dt>
                                        <dd class="col-7" id="tinkoff_cardnumber"></dd>
                                        <dt class="col-5"><code>ФИО получателя</code></dt>
                                        <dd class="col-7" id="tinkoff_name"></dd>
                                        <dt class="col-5"><code>Сумма платежа</code></dt>
                                        <dd class="col-7" id="tinkoff_sum"></dd>
                                    </dl>
                                </div>
                                <div class="card-footer">
                                    Важно! При переводе заполните форму ниже и нажмите кнопку <code>сохранить</code>.
                                    <p>Подтверждение перевода может занять некоторое время</p>
                                    </p>
                                    <hr class="short">
                                    <form id="tinkoffpaymentform">
                                        <div class="form-group row">
                                            <label for="paymentSenderName" class="col-sm-6 col-form-label">Имя отправителя</label>
                                            <div class="col-sm-6">
                                            <input type="text" class="form-control" id="tinkoff_SenderName" value="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="paymentDate" class="col-sm-6 col-form-label">Дата перевода</label>
                                            <div class="col-sm-6">
                                            <input type="text" class="form-control" id="tinkoff_paymentDate" placeholder="Дата">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="paymentSum" class="col-sm-6 col-form-label">Сумма перевода</label>
                                            <div class="col-sm-6">
                                            <input type="text" class="form-control" id="tinkoff_paymentSum" placeholder="Сумма перевода">
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary mb-2" id='tinkoff_paymentinfo_btn'>Сохранить</button>
                                        <div id="tinkoffpaymentform_alert" class="alert alert-success" role="alert" style="display: none;">
                                            Text
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <button type="button" class="btn btn-secondary" id="pay_tinkoff">
                                Показать реквизиты
                            </button>
                        </div>
                    </div>
                </li>
                <!--end of col-->
            </ul>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
{% endblock %}
{% block footer_js_include %}
    <script>
        {% load l10n %}
        var cost = {{ cost }};
        var ucount = {{ team_form.ucount.value }};
        var ucount_paid = {{ main_team.paid_people | unlocalize }};
        var dist = "{{ team_form.dist.value }}";
        var csrf_token = "{{ csrf_token }}";
    </script>
     <script type="text/javascript" src="/static/js/team.js?ver=5"></script>
     {% if user.is_superuser %}<script type="text/javascript" src="/static/js/team_admin.js?ver=1"></script>{% endif%}
{% endblock %}
