{% extends "website/base.html" %}

{% block content %}
        <section class="space-sm">
            <div class="container align-self-start">
                <!--end of row-->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-7">
                        <div class="card card-lg text-center">
                            <div class="card-body">
                                <div class="mb-3">
                                    <h1 class="h2 mb-2">Вход в лк закрыт</h1>
                                    <span>Внести изменения в команду можно только на стартовой поляне</span>
                                </div>
                                <!--end of row-->
                            </div>
                        </div>
                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <!--end of section-->
{% endblock %}