{% extends "website/base.html" %}
{% block og_title %}Платёж успешен{% endblock %}
{% block twitter_title %}Платёж успешен{% endblock%}
{% block content %}
<section class="bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <h1 class="display-4">Платёж успешен!</h1>
                <span class="lead">Платёж {% if team.teamname %}за команду {{ team.teamname }}{% endif %} внесен. Спасибо за оплату. Со списком команд можно ознакомиться тут: <a href="{% url 'all_teams' 2 %}">список команд</a></span>
                <div class="media blog-post-author">
                    <div class="media-body">
                        <span class="h6">Команда кольца 24</span>
                    </div>
                </div>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

{% endblock %}